@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css"); 

.site {
    max-width: 100%;
    color: #5e5959;
}

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow:20px 20px 10px grey; 
    background: #ffffff;
}

.site-title h1 {
    list-style: none;
}

.site-title a {
    font-weight: 900;
    text-shadow: 2px 2px 2px #000000;
}

.site-main {
    width: 60em;
    margin: 0 auto;
}

.site-main h2 {
    padding: 1em 1em 1em 0;
}

.site-main li {
    list-style-type: square;
    margin-left: 1.5em;
}    

.site-footer {
    margin: 2em auto 0;
    padding-top: 1em;
    width: 70em;
}

.site-footer a {
    font-size: 0.8em;
}

.contacts-list {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.facebook {
    font-size: 2em;
}

.copiryght {
    text-align: center;
    font-size: 0.6em;
    background: #ffffff;
    padding-top: 0.8em;
}
