.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5em;
}    

.gallery .portrait,
.gallery .landscape {
    list-style: none;
    display: block;
    position: relative;
    overflow: hidden;
}

.gallery .portrait::before,
.gallery .landscape::before {
    display: block;
    content: '';
    padding-top: 100%;
}

.portrait img {
    grid-template-rows: span 2;
}

.portrait::before {
    padding-top: 177.77%;
}

.landscape {
    grid-template-columns: span 2;
}

.landscape::before {
    padding-top: 56.25%;
}

.portrait img,
.landscape img {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.3em;
}

.portrait img {
    width: auto;
    height: 100%;
}

.landscape img{
    width: 100%;
    height: auto;
}

.gallery .landscape a,
.gallery .portrait a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}

.gallery .landscape a::before,
.gallery .portrait a::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.portrait,
.landscape {
    opacity: 0.5;
    z-index: 5;
    transition: transform 1s, opacity 0.2s, z-index 1s;
}

.portrait:hover,
.landscape:hover {
    z-index: 20;
    transform: scale(1.5);
    opacity: 1;
}