.page .site {
    background-image: linear-gradient(to bottom, #ffffff, #effdff, #cbffff, #b6fff2, #cbffc2);
}    

.page .site-title a {
    color: #73ffb9;
}

.page .site-footer {
    background: #90fcc6;
}