/* Css about asidelayouts /prices and fun pages/ */

.main {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 0 6em;

    @include bp(phone) {
        padding: 0.5em;
    }

    @include bp(mobile) {
        width: 100%;
        flex: 0 0 100%;
        margin: 0;
        padding: 0;
    }

    @include bp(desktop) {
        padding: 0;
        margin: 0;
    }

    @include bp(large) {
        padding: 0 1em 0 5em;
        margin: 0;
        justify-content: center;
    }
} 

.site-main {
    flex: 0 0 60%;

    @include bp(tablet) {
        margin: 0;
        flex: 0 0 90%;
    }
}

.site-sidebar {
    padding: 0 5em 0 2em;
    border-left: 2px solid #5e5959;

    @include bp(tablet) {
        margin-left: 2.5em;
    }

    @include bp(mobile) {
        border: none;  
        padding: 1.5em;  
    }

    @include bp(desktop) {
        padding: 1.5em;
        margin: 0;  
    }

    @include bp(large) {
        margin-left: 3em;
    }

    & li a::before {
        display: inline-block;
        padding-right: 0.8em;
        color: #5e5959;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: '\f1ea';
    }   
}    