/* Css about contacts page */

.pagecontacts {

    .site {
        background-image: linear-gradient(to bottom, #ffffff, #fbebfa, #ffd4e5, #ffbebe, #ffb08c);
    }

    .site-title a {
        color: #fda67d;
    }

    .site-footer {
        background: #ff9c6e6e;
    }
}

.container-contact {
    display: flex;
    max-width: 60em;

    @include bp(phone) {
        margin: 0 auto;
    }

    @include bp(mobile) {
        flex-direction: column;
        max-width: 90%;
        padding: 0 1em;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
}

.contacts-map {
    margin-right: 4em;
    display: inline-block;
    position: relative;
    padding-bottom: 55%;
    height: 0;
    overflow: hidden;

    @include bp(large) {
        margin-right: 4em;
    }

    @include bp(desktop) {
        margin-right: 2em;
    }
   
    @include bp(mobile) {
        margin: 2em 0;
        padding-bottom: 100%;
        width: 520px;
    }

    @include bp(tablet) {
        margin: 2em 0;
        padding-bottom: 100%;
        width: 500px;
    }

    @include bp(phone) {
        margin: 2em 0;
        padding-bottom: 100%;
        width: 400px;
    }

    &-iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;

        @include bp(phone) {
            margin: 0 auto;
        }
    }
}

.form {
    display: inline-block;
    background: rgba(255, 186, 155, 0.5);
    box-shadow: 3px 2px 21px 7px rgba(108,99,114,0.5);
    border-radius: 0.3em;
    padding: 0 2em;

    @include bp(mobile) {
        margin-left: 0;
        width: 500px;
    }

    @include bp(tablet) {
        margin-left: 0;
        width: 500px;
    }

    @include bp(phone) {
        margin-left: 0;
        width: 400px;
    }

    legend {
        text-align: center;
        padding: 0.5em;
        font-size: 1.2em;
    }

    label,
    legend {
        font-family: 'Pacifico', cursive;
    }
}

.field-name,
.field-email,
.field-phone {
    display: flex;
    flex-direction: column;
}

.form input[type="text"],
.form input[type="email"],
.messege textarea {
    padding: 0.3em;
    border: 1px solid #5e5959;
    border-radius: 0.3em;
    resize: none;

    @include bp(phone) {
        width: 350px;
    }
}

.form input[type="text"]:hover,
.form input[type="text"]:focus,
.form input[type="email"]:hover,
.form input[type="email"]:focus,
.messege textarea:hover,
.messege textarea:focus {
    box-shadow: 0 5px 15px rgba(108, 99, 114, 0.5);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form input[type=submit] {
    padding: 0.5em 1em;
    background: rgba(255,155, 110, 0.7);
    border-radius: 0.5em;
    border: none;
    font-family: 'Pacifico', cursive;
    color: #5e5959;
    line-height: 1;
    text-transform: uppercase;

    &:hover,
    &:focus {
        box-shadow: 0 5px 15px rgba(108, 99, 114, 0.8);
        background: rgba(255, 155, 110, 1);
        color: #ffffff;
    }
}

