
$background-pagefun: linear-gradient(to bottom, #ffffff, #fff2ff, #ffe1e2, #ffdfa5d3, #f5f17894);
$title-pagefun:#f7f270;
$footer-pagefun: #f8f36a48;

.pagefun {
    .site {
        background-image: $background-pagefun;
    }

    .site-title a {
        color: $title-pagefun;
    }

    .site-footer {
        background: $footer-pagefun;
    }
}    

.pagefun-pics {
    margin: 0.8em;
    position: relative;
    padding: 0.5em;
    background: #ffffff;
    width: 20em;
    height: auto;
    overflow: hidden;
    border-radius: 0.3em;
    border: 3px solid #5e5959;
    float: right;

    &::after {
        display: block;
        content: '';
        padding-top: 56.25%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &img {
        display: block;
        padding: 0.5em;
        width: 50%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}