.pagefun .site {
    background-image: linear-gradient(to bottom, #ffffff, #fff2ff, #ffe1e2, #ffe0a5, #f5f178);
}

.pagefun .site-title a {
    color: #fdf857;
}

.pagefun .site-footer {
    background: #fffa6e;
}