.pagegallery .site {
    background-image: linear-gradient(to bottom, #e2f6fa, #73f87e);
}

.pagegallery .site-title a {
    color: #59EF65;
}

.pagegallery .site-footer {
    background: #59EF65;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.8em;
    grid-auto-flow: dense;
}    

.gallery .portrait,
.gallery .landscape {
    list-style: none;
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;
}

.gallery .portrait::before,
.gallery .landscape::before {
    display: block;
    content: '';
    padding-top: 100%;
}

.gallery .portrait {
    grid-row: span 1;
}

.gallery .portrait::before {
    padding-top: 177.77%;
}

.gallery .landscape {
    grid-column: span 2;
}

.gallery .landscape::before {
    padding-top: 56.25%;
}

.portrait img,
.landscape img {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.6em;
}

.portrait img {
    width: auto;
    height: 100%; 
}

.landscape img{
    width: 100%;
    height: auto;
}

.gallery .landscape a,
.gallery .portrait a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.gallery .landscape a::before,
.gallery .portrait a::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.portrait,
.landscape {
    opacity: 0.7;
    z-index: 5;
    transition: transform 2s, opacity 0.5s, z-index 1s;
}

.portrait:hover,
.landscape:hover {
    z-index: 20;
    transform: scale(1.5);
    opacity: 1;
}