@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css"); 

.site {
    max-width: 100%;
    color: #5e5959;

    a {
        color: #5e5959;
    }

    .site-header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        box-shadow: 0px 20px 10px #808080;
        background: #ffffff;
        
        @include bp(mobile){
            max-width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    
    .site-title {
        h1 {
            padding-bottom: 0;
            list-style: none;

            @include bp(phone) {
                font-size: 1.5em;
            }
        }
    
        a {
            font-weight: 900;
            text-shadow: 2px 2px 2px #000000;
        }

        @include bp(phone) {
            text-align: center;
        }

        @include bp(mobile) {
            text-align: center;
        }
    }

    .site-main {
        max-width: 100%;
        width: 65em;
        margin: 0 auto;

        @include bp(mobile) {
            padding: 0 1em;
            max-width: 80%;
        }

        @include bp(desktop) {
            padding: 1em;
            margin: 0 auto;
        }

        h2 {
            padding: 1em 1em 1em 0;
        }
    }

    .site-footer {
        max-width: 100%;
        margin: 2em auto 0;
        padding-top: 1em;
        width: 70em;

        @include bp(tablet) {
            max-width: 85%;
            padding: 0 1em;
            margin: 0 auto;
        }

        @include bp(mobile) {
            max-width: 100%;
            padding: 0 1em;
            margin: 0;
        }
    
        a {
            font-size: 0.8em;
            text-shadow: 1px 1px 1px #ffffff;
        }
    }

    .contacts-list {
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        padding-left: 2em;
        list-style: none;

        @include bp(phone) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        
        @include bp(mobile) {
            padding-top: 2em;
            justify-content: center;
        }
    }

    .footer-contacts {
        padding: 0 0.5em;
    }

    .fab {
        font-size: 2em;
        color: #1616aa;
    }

    .footer-map {
        position: relative;
        margin-right: 2em;
        height: 0;
        overflow: hidden;

        @include bp(large) {
            padding-bottom: 35%;
        }

        @include bp(desktop) {
            padding-bottom: 20%;
        }

        @include bp(mobile) {
            padding-bottom: 20%;
        }

        @include bp(tablet) {
            padding-bottom: 20%;
        }

        @include bp(phone) {
            margin-right: 2em;
            padding-bottom: 50%;
            width: 380px;
        }

        &-map {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;

            @include bp(phone) {
                margin: 0 auto;
            }
        }
    }

    .copiryght {
        text-align: center;
        font-size: 0.6em;
        background: #ffffff;
        padding-top: 0.8em;
    }
}