<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/site.css">
    <title>{{ site.title }}</title>
</head>
<body class="page{{ page.permalink | slugify }}">
    <div class="site">

        <header class="site-header">

            <div class="site-title">
                <h1><a href="/">{{ site.title }}</a></h1>
                <p>{{ site.description}}</p>
            </div>
        
               {% include navigation.html location="header" %}
        
        </header>
            
        <main class="site-main">
            <h2>{{ page.title }}</h2>
        
            <div class="container-contact">

                <section class="contacts-map"> 

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2898.667800644045!2d22.581831618125236!3d43.40487237955714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4754e56d9ded4a3d%3A0xfc135a20eaf00268!2z0JLQuNC70LAg0JHQuNC70Y_QvdCw!5e0!3m2!1sbg!2sbg!4v1573934623924!5m2!1sbg!2sbg" width="500" height="550" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

                </section>

                <section class="form">
                    <legend>Форма за контакти</legend>  
                    <p class="field-name">
                        <label for="name">Име</label>
                        <input type="text" name="name" placeholder="Биляна Нинова" required>
                    </p>
                    <p class="field-email">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" placeholder="bilyanamail@example.com" required>
                    </p>
                    <p class="field-phone">
                        <label for="phone">Телефон</label>
                        <input type="text" name="phone" placeholder="0888 888 888" required>
                    </p>
                    <p class="messege">
                        <textarea rows="5" cols="50" name="message" id="message" placeholder="Съобщение"></textarea>
                    </p>
                    <p class="button">
                        <input type="submit" value="Изпрати">
                    </p>
                </section>

            </div>

            {{ content }}

        </main>    
        
        <footer class="site-footer">

            <section class="contacts-list"> 

                <section class="sitemap">
                    <header>
                        <h5>{{ site.title }}</h5>
                    </header>
                    <div class="sitemap-nav">
                        <ul>
                            {% assign navigation_pages = site.pages | sort:"order" %}
                                {% for page in navigation_pages %}
                                    {% if page.title %}
                                        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                        </ul>
                    </div>
                </section>

                <section class="footer-contacts">
                    <header>
                        <h5>Контакти</h5>
                    </header>
                    <div class="footer-contacts-list">
                        <ul>
                            <li><a href="tel:{{ site.phone }}">{{ site.phone }}</a></li>
                            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                            <li class="facebook"><a href={{ external_url }}><i class="fab fa-facebook-square"></i></a></li>
                        </ul>
                    </div>
                </section>
                
                <section class="footer-map">
                    <header>
                        <h5>Адрес</h5>
                    </header>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2898.667800644045!2d22.581831618125236!3d43.40487237955714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4754e56d9ded4a3d%3A0xfc135a20eaf00268!2z0JLQuNC70LAg0JHQuNC70Y_QvdCw!5e0!3m2!1sbg!2sbg!4v1573934623924!5m2!1sbg!2sbg" width="400" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </section>
            </section>

            <div class="copiryght">
                <p>COPYRIGHT &copy; 2019 VILLA BILYANA. ALL RIGHTS RESERVED.</p>
            </div>

        </footer>
        
    </div>
</body>
</html>